[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
six = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
neovim = "*"
pytest-sugar = "*"
pytest-django = "*"
mixer = "*"
pylint = "*"
mutmut = "*"
hypothesis = "*"
awsebcli = "*"

[packages]
pathlib = "*"
py = "*"
django = "==2.1.5"
networkx = "*"
social-auth-app-django = "*"

[pipenv]
allow_prereleases = true
