[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
six = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
neovim = "*"
pytest-sugar = "*"
autopep8 = "*"
gspread =  "*"
oauth2client = "*"
pylint = "*"
hypothesis = "*"

[packages]
pathlib = "*"
py = "*"
django = "*"
networkx = "*"
social-auth-app-django = "*"

[pipenv]
allow_prereleases = true
