{% extends "gatorgrouper/base.html" %}
{% block content %}
  <main role="main" class="container">
      <div class="content-section">
        <form method="post">
          {% csrf_token %} <!--must have this line for forms-->
          {{ formset }}
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-outline-info">Create</button>
            <button type="submit" name="button" class="btn btn-outline-info">Cancel</button>
            <small class="text-muted">Back to Dashboard</small>
          </div>
        </form>
        <div class="border-top pt-3">
        </div>
      </div>
    </main>
{% endblock %}
