{% extends "gatorgrouper/base.html" %}
{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One of image carousel -->
      <div class="carousel-item active" style="background-image: url('static/gatorgrouper/images/GGbackground.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Gator Grouper</h3>
          <p class="lead">Gator Grouper is a program that effectively divides numerous individuals into groups, based on user preferences.</p>
        </div>
      </div>
      <!-- Slide Two of image carousel -->
      <div class="carousel-item" style="background-image: url('static/gatorgrouper/images/Allegheny.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Developer</h3>
          <p class="lead">Gator Grouper is developed by the Allegheny College Software Engineering team.</p>
        </div>
      </div>
      <!-- Slide Three of image carousel -->
      <div class="carousel-item" style="background-image: url('static/gatorgrouper/images/groupWork.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Teamwork</h3>
          <p class="lead">"Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results." --Andrew Carnegie.</p>
        </div>
      </div>
    </div>
    <!-- Adds the previous button to the image carousel -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <!-- Adds the next button to the image carousel -->
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>

<!-- Page Content -->

<!-- This section contains code and the information regarding the developer story -->
<section class="py-5">
  <div class="container">
    <h1 class="ont-weight-light">Developer Story</h1>
    <p class="lead">Professors and students alike at Allegheny College have previously struggled with sucessfully creating functional student groups, while maintaining productivity.</p>
    <p class="lead">Group organization is often a challenging experience that frequently results in conflicts among students, unproductive group members, as well as loss of time.</p>
    <p class="lead">The Software Engineering team at Allegheny College eventually determined that current grouping methods are ineffective and sought to develop a program that would allow for productive, functional and effortless group organization.</p>
  </div>
</section>
<!-- This section contains code and the information regarding the product description -->
<section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Product Desrcription</h1>
      <p class="lead">Gator Grouper is a web application that assists educators by organzing students into groups. Group organization is determined by the students' skill levels and user input.</p>
      <p class="lead">To use this tool, one must sign in to either a GitHub or Google account by using the designated buttons above. After login is completed, educators have access to creating classes, assignments, as well as utilizing group assembly and organization.</p>
      <p class="lead">Gator Grouper is designed to create fair and balanced groups effortlessly. Individuals that are interested are encouraged to take advantage of this powerful and user-friendly tool.</p>
    </div>
<!-- This section contains code and the information regarding contact -->
</section>
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Contact Us</h1>
    <p class="lead">If you have any problems or concerns involving Gator Grouper, please do not hesitate to reach out to the Allegheny Software Engineering team.</p>
  </div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">Copyright &copy; 2019 - GatorGrouper</div>
  </div>
</footer>

{% endblock content %}
