<doctype html!>
<html>
  <head>
    <!-- Creates the Logo of our project -->
    <img src="/home/f/faulknert/CS203/gatorgrouper/static/images/gatorgrouper_logo.svg" height="120cm">
    <title>Gator Grouper Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Creates the account name login box -->
    <form action="/action_page.php" method="get">
      <h4>Login </h4> </br>
      <p5>Account Name: </p5>
      <input type="text" Account Name=""> </br> </br>

      <!-- Creates the password login box -->
      <p6>Password: </p6>
      <input type="password" > </br>

      <!-- Creates a stay logged in button -->
      <input type="checkbox"><label for="checkbox">Keep me logged in</label>

      <!-- Creates the actually button that sends the requests -->
      <input type="submit" value="Login">
    </form>
  </body>
</html>


<!-- I want to create a link in the gator grouper logo to reference the home page but can't until we get the website domain -->
