{% extends "gatorgrouper/base.html" %}
{% block content %}

      <div class="class-container">
{% if all_classes|length > 0 %}
      {% for class in all_classes %}
      <div class="class-item">
      <h2>{{ class }}</h2>
      <div class="assignments">


        {% for assignment in all_assignments %}
          {% if assignment.class_id == class  %}

            <h5>{{ assignment.assignment_name }}</h5>
            <p>{{ assignment.description }}</p>

          {% endif %}
        {% endfor %}
        </div>
        </div>
      {% endfor %}
{% else %}
  <p> Please Add a Class and Create Assignments to view them in your profile</p>
{% endif %}
      </div>
{% endblock %}
