{% extends "gatorgrouper/base.html" %}
{% block content %}

<h1>{{user.first_name}}'s Profile</h1>

<div class="class-container">
  {% if all_classes|length > 0 %}
  {% for class in all_classes %}
  <div class="class-bigbox">
    <h2>{{ class }}</h2>
    <!-- Both Tables  -->
    <div>
      <!-- Start of Class asspect -->
      <div>
        <!-- Start of class table -->
        <div>
        <table class="inLineTable">
          <tr>
            <th>Projects:</th>
          </tr>

          {% for assignment in all_assignments %}
          {% if assignment.class_id == class  %}
          <tr>
            <td><a href="{% url 'Gatorgrouper-groups' %}">{{ assignment.assignment_name }}</a></td>
          </tr>

          {% endif %}
          {% endfor %}

          <tr>
            <td>
              <a href="{% url 'Gatorgrouper-assignments' %}" class="btn btn-danger btn-block">Add Assignment</a>
            </td>
          </tr>

        </table>
      </div>
      <!-- End of Class Table -->

      </div>
      <!-- End of Class asspect -->

      <!-- Start of student asspect -->
      <div>
        {% if all_classes|length > 0 %}
        {% for class in all_classes %}
      <!-- Start of Student Table  -->
      <div>
        <table class="inLineTable">
          <tr>
            <th>Students</th>
          </tr>

          {% for student in all_students %}
          {% if student.class_id == class  %}
          <tr>
            <td>
              <p>{{ student.first_name }} {{ student.last_name }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}

          <tr>
            <td>
              <a href="{% url 'add-students' %}" class="btn btn-danger btn-block">Add Student</a>
            </td>
          </tr>

        </table>
      </div>
      <!-- End of Student Table -->

      </div>
      <!-- End of Student asspect -->
      {% endfor %}
      {% else %}
      <p> Please Add a class and Create Assignments to view them in your profile </p>
      {% endif %}
    </div>
    <!-- End of Both Tables -->
  </div>
  <!-- End of Big Box -->
  {% endfor %}
  {% else %}
  <p> Please add a class and create students to view them in your profile</p>
  {% endif %}
</div>
<!-- End of class-container -->
{% endblock %}
