{% extends "gatorgrouper/base.html" %}
{% block content %}
  <main role="main" class="container">
      <div class="content-section">
        <form method="post">
          {% csrf_token %} <!--must have this line for forms-->
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Student Survey</legend>
            <form action="/">
              <div class="form-group">
                  {{ form }}
              </div>
            </form>
          </fieldset>
          <!-- Adds the create and cancel buttons. -->
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-outline-info">Submit</button>
            <small class="text-muted">Back to Dashboard</small>
          </div>
        </form>
        <div class="border-top pt-3">
        </div>
      </div>
    </main>
{% endblock %}
