{% extends "gatorgrouper/base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="content-section">
      <form method="post">
        {% csrf_token %} <!--must have this line for forms-->
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Student Survey</legend>
          <!-- Adds in the form. -->
          <form action="/action_page.php">
            <div class="form-group">
              <!-- Adds in a section for question one -->
              <label for="Question One">Question One:</label> <br>
              <label for="Question One">Enter Yes or No: </label> <br>
              <input type="radio" name = "optradio"> Yes</label><br>
              <input type="radio" name = "optradio"> No</label><br><br>
              <!-- Adds in a section for question two -->
              <label for="Question Two">Question Two:</label><br>
              <label for="Question Two">Enter Yes or No: </label><br>
              <input type="radio" name = "optradio"> Yes </label><br>
              <input type="radio" name = "optradio"> No </label><br><br>
              <!-- Adds in a section for question three -->
              <label for="Question Three">Question Three:</label><br>
              <label for="Question Three">Enter Yes or No: </label><br>
              <input type="radio" name = "optradio"> Yes </label><br>
              <input type="radio" name = "optradio"> No </label><br><br>
              <!-- Adds in a section for question four -->
              <label for="Question Four">Question Four:</label><br>
              <label for="Question four">Enter Yes or No: </label><br>
              <input type="radio" name = "optradio"> Yes </label><br>
              <input type="radio" name = "optradio"> No </label><br><br>
              <!-- Adds in a section for question five -->
              <label for="Question Five">Question Five:</label><br>
              <label for="Question Five">Enter Yes or No: </label><br>
              <input type="radio" name = "optradio"> Yes </label><br>
              <input type="radio" name = "optradio"> No </label><br><br>
            </div>
          </form>

          </fieldset>
          <!-- Adds the create and cancel buttons. -->
          <div class="form-group">
            <!-- Submit button needs to be linked to where data will be stored in database-->
            <form action="">
              <button type="submit" value="Submit">Submit</button>
            </form>
            <!-- The Cancel button sends the user back to the Home page of the site -->
            <form action="http://127.0.0.1:8000/">
              <button type="submit">Cancel</button>
            </form>

            <small class="text-muted">Back to Dashboard</small>
          </div>
        </form>
        <div class="border-top pt-3">
        </div>
      </div>
    </main>
{% endblock %}
