{% extends "gatorgrouper/base.html" %}
{% block content %}

  <body>

<!-- Creates team grouping lists -->
<div class="container">
  <h2>Team Groupings</h2>
  <div class="list-group">
    <a href="#" class="list-group-item active">

      <h4 class="list-group-item-heading">Team #1</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
    </a>

    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #2</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
    </a>

    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #3</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
    </a>

  </div>
</div>

  </body>
{% endblock %}
