{% extends "gatorgrouper/base.html" %}
{% block content %}

  <body>

<!-- Creates team grouping lists -->
<div class="container">
  <h2>Team Groupings</h2>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      {% for group in groups %}
      <h4 class="list-group-item-heading">Team #{{ forloop.counter }}</h4>
        {% for student in group %}
        <p class="list-group-item-text">{{ student | first }}</p>
        {% endfor %}
      {% endfor %}
    </a>
  </div>
</div>

  </body>
{% endblock %}
