{% extends "gatorgrouper/base.html" %}
{% block content %}

<form class="content-section" action="" method="post">
  {% csrf_token %}
  {{ formset.as_p}}
  <button type="submit" name="button" value="show"class="btn btn-outline-info">View Assignment Groups</button>
</form>
<!-- Creates team grouping lists -->

{% if groups|length > 0 %}
<div class="container">
    <h2 class="list-group-item-heading">{{assignment.assignment_name}} Groups</h2>
  <div class="list-group">
      {% for name in groupNames %}
        <h4>{{ name }}</h4>
        {% for group in groups %}
        {% if group.group_name == name %}

        <p class="list-group-item-text">{{ group.student_id }}</p>
        {% endif %}
        {% endfor %}
      {% endfor %}

  </div>
</div>
{% endif %}
{% endblock %}
