body {
  background: #fafafa;
  color: #333333;
  margin-top: 0;
}
body {
  counter-reset: section;
}

.group-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px 15px 15px;
}

.group-item h2::before {
  counter-increment: section;
  content: "Group " counter(section) ": ";
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-space {
    margin-right: 15px;
    margin-top: 10px;
}

.dropbtn {
  background-color: #007BFF;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 18px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.class-container {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: beige;
  flex-wrap: wrap;
  min-height: 15em

}

.student-container {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #87b5ff;
  flex-wrap: wrap;
  min-height: 20em

}

.class-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px 15px 15px;
}

.assignments {
  display: flex;
  flex-direction: column;
}

.students {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.show {display: block;}
