<doctype html!>
<html>
<head>
<img src="gatorgrouper_logo.svg" height="120cm">
<title>Gator Grouper Login</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
<form action="/action_page.php" method="get">
<h4>Login </h4> </br>
<p5>Account Name: </p5>
<input type="text" Account Name=""> </br> </br>
<p6>Password: </p6>
<input type="password" > </br>
<input type="checkbox"><label for="checkbox">Keep me logged in</label>
<input type="submit" value="Login">
</form>
</body>
</html>
<!-- I want to create a link in the gator grouper logo, but can't until we get the website domain -->
<!-- Still need to change the look of the login page -->
<!-- Down the line need to store usernames and passwords -->
